- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)

.well.well-sm
  %form#repository-adder{:action => '#'}
    .row
      .col-md-2
        %div{:style => 'text-align: center; vertical-align: middle'}
          %b
            Enable Repository:
      .col-md-8
        .dropdown
          %input#repository-box.form-control{:type => 'text', :placeholder => 'Repository Name'}

      .col-md-2
        %input#repository-enable.btn.btn-success{:type => 'submit', :value => 'Enable'}

%table.table.table-striped
  %thead
    %tr
      %th
        Name
      %th
        &nbsp;
  %tbody
    - @enabled_repositories.each do |repo|
      %tr
        %td= repo.first
        %td
          :ruby
            link_opts = Smash.new(
              'window-rails-ajax' => 'delete',
              'window-rails-url' => send(
                "#{@namespace}_repository_disable_path",
                :repository_id => repo.last,
                :repository_name => repo.first
              ),
              'window-rails-confirm' => "Disable repository #{repo.first}?"
            )
          %a.pull-right.btn.btn-danger.btn-xs.window-rails{link_opts}
            %span.glyphicon.glyphicon-trash

- if content_for?(:pagination)
  %div.fission-pagination.well.well-sm= content_for(:pagination)

:ruby
  adder_data = Smash[
    @disabled_repositories.map{ |r|
      [
        r.first.split('/').last,
        Smash.new(
          'name' => r.first,
          'url' => send("#{@namespace}_repository_enable_path", :repository_name => r.first, :repository_id => r.last)
        )
      ]
    }
  ]

:javascript
  $(document).ready(
    function(){
      var repos = $(#{format_type_to_js(@disabled_repositories)});
      $('#repository-box').autocomplete({
        minLength: 0,
        focus: function(event, ui){
          $('#repository-box').val(ui.item.value);
          return false;
        },
        source: #{format_type_to_js(@disabled_repositories.map{|r| {'value' => r.first.split('/').last}})}
      });
      $('#repository-adder').submit(function(){
        $('#repository-adder input.btn').val('Enabling...').attr('disabled', 'disabled');
        repos = #{format_type_to_js(adder_data)};
        repo = repos[$('#repository-box').val()];
        if(repo){
          window_rails.confirm.open({
            title: 'Enable Confirmation',
            content: 'Confirm enable of repository: ' + repo['name'],
            url: repo['url'],
            ajax: 'post',
            progress: 'Enabling repository',
            complete: 'Enabled repository: ' + repo['name'] + '!'
          });
        }
        else {
          window_rails.alert.open({
            title: 'Repository enable error',
            content: 'Failed to locate requested repository!'
          });
        }
        $('#repository-adder input.btn').val('Enable').attr('disabled', null);
        return false;
      });
    }
  );
