- id = 'repositories'

- content_for(:panel_header) do
  %h3= "#{@base.name.humanize} Repositories"

- content_for(:repository_enabler) do
  %div.well.well-sm
    %form#repository-adder{:action => '#'}
      %div.row
        %div.col-md-2
          %label= "Enable Repository"
        %div.col-md-8
          %dropdown
            %input.full-width#repository-box.form-control{:type => 'text', :placeholder => 'Repository Name'}
        %div.col-md-2{ :style => "padding-right:20px" }
          %input.full-width#repository-enable.btn.btn-success{:type => 'submit', :value => 'Enable'}

:ruby
  content_for(:repository_summary) do
    yield content_for(:repository_enabler)
    render(
      :partial => 'layouts/panel',
      :locals  => {
        :id => "#{id}-panel",
        :heading => content_for(:panel_header),
        :panel_content => render(
          :partial => 'repositories/summary',
          :locals => {
            :enabled => @enabled_repositories,
            :disabled => @disabled_repositories
          }
        ),
        :panel_class => 'widget'
      }
    )
  end

- content_for(:container) do
  = yield(:repository_enabler)
  = yield(:repository_summary)

= render :partial => 'layouts/container', :locals => {:container_class => params[:namespace], :container_id => id}
